<script>
function getPatientList() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var response = JSON.parse(this.response)
      var html = '<ul>'
      var data = response.results
      for(i = 0; i < data.length; i++) {
        html += '<li><span>' + data[i].first_name + ' ' + data[i].last_name + '</span>'
        html += '<button onClick="getLabResults(' + data[i].id + ')">Get Lab Results</button></li>'
      }
      html += '</ul>'
      var listDiv = document.getElementById('patient-list')
      listDiv.innerHTML = html
    }
  };

  var access_token = getCookie("tractus_access_token")
  xhttp.open("GET", "/phi/patients?access_token=" + access_token, true)
  xhttp.send()
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function showAccessToken() {
  console.log('tractus_access_token::')
  var token = getCookie("tractus_access_token")
  console.log(token)
}

function getLabResults(patient_id) {
  console.log('get lab results')
  console.log(patient_id)
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var response = JSON.parse(this.response)
      console.log(response)

      var data = response.results
      var groupedByTestCode = {}
      for(i = 0; i < data.length; i++) {
        if(groupedByTestCode[data[i].test.code] == null) {
          groupedByTestCode[data[i].test.code] = {
            name: data[i].test.description,
            tests: [],
            code: data[i].test.code
          }
        }
        groupedByTestCode[data[i].test.code].tests.push(data[i])
      }
      console.log(groupedByTestCode)

      var html = '<div><h4>' + response.results.length + ' lab test results!</h4>'
      html += '<ul>'
      var codes = Object.keys(groupedByTestCode)
      for(i = 0; i < codes.length; i++) {
        var group = groupedByTestCode[codes[i]]
        html += '<li><div>' + group.name + ' (code ' + group.code + ')</div>'
        html += '<div><label>tests:</label></div>'
        html += '<ul>'
        for(j = 0; j < group.tests.length; j++) {
          html += '<li>'
          html += '<div><label>test: </label>' + group.tests[j].obs_description + '</div>'
          html += '<div><label>value: </label>' + group.tests[j].value + '</div>'
          html += '<div><label>normal range: </label>' + group.tests[j].normal_range + '</div>'
          html += '</li>'
        }
        html += '</ul>'
      }

      var listDiv = document.getElementById('test-results-list')
      listDiv.innerHTML = html
    }
  };

  var access_token = getCookie("tractus_access_token")
  xhttp.open("GET", "/phi/lab_results?access_token=" + access_token + "&patient_id=" + patient_id, true)
  xhttp.send()
}

</script>

<h3>Redirected back from drchrono with code: <%= @code %></h3>

<div style="display: flex; flex-direction: row; height: 500px;">
  <div style="width: 300px;">
    <h2>Patients</h2>
    <button style="width: 100px; height: 40px;" onClick="getPatientList()">Get Patient List</button>
    <div id="patient-list"></div>
  </div>
  <div>
    <h2>Results</h2>
    <div id="test-results-list"></div>
  </div>
</div>

<!-- <button onClick="showAccessToken()">Get Access Token!</button> -->
