<script>
function getPatientList() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var response = JSON.parse(this.response)
      var html = ''
      var data = response.results
      for(i = 0; i < data.length; i++) {
        html += '<div><span>' + data[i].first_name + ' ' + data[i].last_name + '</span>'
        html += '<button onClick="getLabResults(' + data[i].id + ')">Get Lab Results</button></div>'
      }
      var listDiv = document.getElementById('patient-list')
      listDiv.innerHTML = html
    }
  };

  var access_token = getCookie("tractus_access_token")
  xhttp.open("GET", "/phi/patients?access_token=" + access_token, true)
  xhttp.send()
}

function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function showAccessToken() {
  console.log('tractus_access_token::')
  var token = getCookie("tractus_access_token")
  console.log(token)
}

function getLabResults(patient_id) {
  console.log('get lab results')
  console.log(patient_id)
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var response = JSON.parse(this.response)
      console.log(response)
    }
  };

  var access_token = getCookie("tractus_access_token")
  xhttp.open("GET", "/phi/lab_results?access_token=" + access_token + "&patient_id=" + patient_id, true)
  xhttp.send()
}

</script>

<h3>Redirected back from drchrono with code: <%= @code %></h3>
<button style="" onClick="getPatientList()">Get Patient List</button>
<div id="patient-list"></div>
<button onClick="showAccessToken()">Get Access Token!</button>
